<!doctype html>

<html lang="en">
<head>
	<meta charset="utf-8">

	<title>TLE1_ImageAPI</title>
	<meta name="description" content="The HTML5 Herald">
	<meta name="author" content="SitePoint">
    <script src="Scripts/jquery-3.1.1.min.js"></script>
    <script src="Scripts/jquery.form.min.js"></script>
</head>
<body>
    <form id="frmUploader" enctype="multipart/form-data" action="api/Upload/" method="post">
        <input type="file" name="imgUpload" required />
        <input type="submit" name="submit" id="btnSubmit" value="Upload" /> </form>
</body>
</html>

<script>

</script>
